extends layouts/main

block content
    .form-container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            button#jsRecordBtn Start recoding
        form(action=routes.videos + routes.upload, method="post", enctype="multipart/form-data")
            label(for="vidoeFile") Video File
            input(type="file", name="videoFile", id="file", required=true, accept="video/*")
            input(type="text", placeholder="Title" name="title", required=true)
            input(type="textarea", placeholder="Description" name="description", required=true)
            input(type="submit", value="Upload Video")